<h1>Plant Database</h1>
    <% @plantlist.each do |data| %>
    <div class= "plant" >
        <img src="<%= data.img_url %>" width="150" height="150">
        <div class= "titles">
            <h3><%= data.common_name %></h3>
            <h5><i><%= data.sc_name %></i></h5>
            <%= link_to 'Show Info', plants_show_path(data.id) %>
        </div>
        </div>
    <% end %>

